---
version: '3.8'
services:
  api:
    environment:
      ENVIRONMENT: LOCAL
      RABBITMQ_URL: amqp://guest:guest@rabbitmq:5672/
      LOCAL_STORAGE_PATH: /app/storage
  router:
    environment:
      ENVIRONMENT: LOCAL
      RABBITMQ_URL: amqp://guest:guest@rabbitmq:5672/
  dashboard:
    environment:
      ENVIRONMENT: LOCAL
      RABBITMQ_URL: amqp://guest:guest@rabbitmq:5672/
  worker-lid:
    environment:
      ENVIRONMENT: LOCAL
      RABBITMQ_URL: amqp://guest:guest@rabbitmq:5672/
      LOCAL_STORAGE_PATH: /app/storage
      HF_SUMMARIZATION_MODEL: facebook/bart-large-cnn
      HF_TRANSLATION_MODEL: Helsinki-NLP/opus-mt-{src}-{tgt}
