apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  namespace: speech-flow
spec:
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
      - name: postgres
        image: postgres:14
        env:
        - name: POSTGRES_USER
          value: user
        - name: POSTGRES_PASSWORD
          value: password
        - name: POSTGRES_DB
          value: speechflow
        ports:
        - containerPort: 5432
---
apiVersion: v1
kind: Service
metadata:
  name: postgres-service
  namespace: speech-flow
spec:
  selector:
    app: postgres
  ports:
  - port: 5432
    targetPort: 5432
