openapi: 3.1.0
info:
  title: Speech Processing API
  version: 1.0.0
  description: Production-grade speech processing service supporting batch and near real-time transcription, translation, language detection, and text-to-speech synthesis.
  contact:
    name: API Support
    email: support@speechapi.dev
  license:
    name: Proprietary
    
servers:
  - url: https://api.speechapi.dev/v1
    description: Production environment
  - url: https://staging-api.speechapi.dev/v1
    description: Staging environment

tags:
  - name: Speech-to-Text (STT)
    description: Transcription, translation, and language detection
  - name: Text-to-Speech (TTS)
    description: Speech synthesis endpoints
  - name: Job Management
    description: Async job tracking and status endpoints

security:
  - oauth2: [speech.transcribe, speech.translate, speech.detect, speech.synthesize]

components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.speechapi.dev/oauth/token
          scopes:
            speech.transcribe: Transcribe audio to text
            speech.translate: Translate transcribed text
            speech.detect: Detect language in audio
            speech.synthesize: Synthesize text to speech

  schemas:
    # ========== Request Schemas ==========
    BlobSource:
      type: object
      description: Reference to a file in Azure Blob Storage (BYOS).
      required:
        - storage_account_name
        - container_name
        - blob_name
      properties:
        storage_account_name:
          type: string
          example: "customerdata"
          description: Name of your Azure Storage Account
        container_name:
          type: string
          example: "audio-uploads"
          description: Name of the container where audio is stored
        blob_name:
          type: string
          example: "meetings/2024/q1_review.wav"
          description: Path to the specific blob

    TranscriptionRequest:
      type: object
      required:
        - audio_source
      properties:
        audio_source:
          oneOf:
            - $ref: '#/components/schemas/AudioUpload'
            - $ref: '#/components/schemas/BlobSource'
          description: Audio data via direct upload or Azure Blob reference
        config:
          type: object
          properties:
            language:
              type: string
              pattern: '^[a-z]{2}(-[A-Z]{2})?$'
              example: en-US
              description: BCP-47 language code. If omitted, auto-detection is performed.
            model:
              type: string
              enum: [whisper-large-v3, azure-speech-standard]
              default: whisper-large-v3
            output_format:
              type: string
              enum: [json, vtt, srt, plain_text]
              default: json
            include_timestamps:
              type: boolean
              default: false
            diarization:
              type: object
              properties:
                enabled:
                  type: boolean
                  default: false
                max_speakers:
                  type: integer
                  default: 2
            translation:
              type: object
              description: Optional translation configuration
              properties:
                target_languages:
                  type: array
                  items:
                    type: string
                  example: [es-ES, fr-FR]
            profanity_filter:
              type: boolean
              default: false

    LanguageDetectionRequest:
      type: object
      required:
        - audio_source
      properties:
        audio_source:
          oneOf:
            - $ref: '#/components/schemas/AudioUpload'
            - $ref: '#/components/schemas/BlobSource'
        max_languages:
          type: integer
          minimum: 1
          maximum: 5
          default: 1
          description: Maximum number of detected languages to return
        confidence_threshold:
          type: number
          minimum: 0
          maximum: 1
          default: 0.5
          description: Minimum confidence score for language detection

    TranslationRequest:
      type: object
      required:
        - transcription_job_id
        - target_languages
      properties:
        transcription_job_id:
          type: string
          format: uuid
          description: ID of completed transcription job to translate
        target_languages:
          type: array
          items:
            type: string
            pattern: '^[a-z]{2}(-[A-Z]{2})?$'
          minItems: 1
          maxItems: 10
          example: [es-ES, de-DE, fr-FR]
          description: BCP-47 language codes for translation targets
        preserve_formatting:
          type: boolean
          default: true
          description: Maintain original formatting in translated output

    TextToSpeechRequest:
      type: object
      required:
        - text
        - language
        - voice_id
      properties:
        text:
          type: string
          maxLength: 5000
          minLength: 1
          description: Text to synthesize to speech
        language:
          type: string
          pattern: '^[a-z]{2}(-[A-Z]{2})?$'
          example: en-US
        voice_id:
          type: string
          example: en-US-AriaNeural
          description: Neural voice identifier (language and region specific)
        speech_rate:
          type: number
          minimum: 0.5
          maximum: 2.0
          default: 1.0
          description: Speed multiplier for speech synthesis
        pitch:
          type: number
          minimum: -50
          maximum: 50
          default: 0
          description: Pitch adjustment in semitones
        audio_format:
          type: string
          enum: [mp3, wav, opus, ogg, aac]
          default: mp3
          description: Output audio format
        ssml:
          type: boolean
          default: false
          description: Treat text as SSML (Speech Synthesis Markup Language)

    # ========== Response Schemas ==========
    TranscriptionResponse:
      type: object
      properties:
        job_id:
          type: string
          format: uuid
          description: Unique job identifier for tracking
        status:
          type: string
          enum: [pending, processing, completed, failed]
          description: Current job status
        created_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
          description: Results expire at this timestamp (7 days default)
        language:
          type: string
          pattern: '^[a-z]{2}(-[A-Z]{2})?$'
          description: Primary detected or specified language
        text:
          type: string
          description: Full transcribed text
        segments:
          type: array
          items:
            type: object
            properties:
              start:
                type: number
                description: Segment start time in seconds
              end:
                type: number
                description: Segment end time in seconds
              text:
                type: string
              speaker:
                type: string
                description: Speaker ID if diarization enabled
              confidence:
                type: number
                minimum: 0
                maximum: 1
        translations:
          type: object
          description: Map of target language codes to translated text (if requested)
          additionalProperties:
            type: string
            description: Translated text for the key language
        processing_time_seconds:
          type: number
          description: Total processing duration
        input_audio_duration_seconds:
          type: number
        model_used:
          type: string
        error:
          $ref: '#/components/schemas/ErrorDetail'
        download_url:
          type: string
          format: uri
          description: Blob URI for accessing results. Client should use DefaultAzureCredential to download.

    LanguageDetectionResponse:
      type: object
      properties:
        job_id:
          type: string
          format: uuid
        status:
          type: string
          enum: [pending, processing, completed, failed]
        created_at:
          type: string
          format: date-time
        languages:
          type: array
          items:
            type: object
            properties:
              language:
                type: string
                pattern: '^[a-z]{2}(-[A-Z]{2})?$'
              confidence:
                type: number
                minimum: 0
                maximum: 1
              probability:
                type: number
                minimum: 0
                maximum: 1
          description: Detected languages sorted by confidence (highest first)
        primary_language:
          type: string
          pattern: '^[a-z]{2}(-[A-Z]{2})?$'
          description: Most confident language detection
        processing_time_seconds:
          type: number
        error:
          $ref: '#/components/schemas/ErrorDetail'

    TranslationResponse:
      type: object
      properties:
        job_id:
          type: string
          format: uuid
        status:
          type: string
          enum: [pending, processing, completed, failed]
        created_at:
          type: string
          format: date-time
        source_language:
          type: string
          pattern: '^[a-z]{2}(-[A-Z]{2})?$'
          description: Original language from transcription
        translations:
          type: object
          additionalProperties:
            type: object
            properties:
              language:
                type: string
              text:
                type: string
              segments:
                type: array
                items:
                  type: object
                  properties:
                    start:
                      type: number
                    end:
                      type: number
                    text:
                      type: string
          description: Translations keyed by target language code
        processing_time_seconds:
          type: number
        error:
          $ref: '#/components/schemas/ErrorDetail'

    TextToSpeechResponse:
      type: object
      properties:
        job_id:
          type: string
          format: uuid
        status:
          type: string
          enum: [pending, processing, completed, failed]
        created_at:
          type: string
          format: date-time
        audio_format:
          type: string
        audio_duration_seconds:
          type: number
        download_url:
          type: string
          format: uri
          description: Blob URI for accessing audio. Client should use DefaultAzureCredential to download.
        processing_time_seconds:
          type: number
        error:
          $ref: '#/components/schemas/ErrorDetail'

    JobStatusResponse:
      type: object
      properties:
        job_id:
          type: string
          format: uuid
        job_type:
          type: string
          enum: [transcription, language_detection, translation, text_to_speech]
        status:
          type: string
          enum: [pending, processing, completed, failed]
        created_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time
        progress_percent:
          type: integer
          minimum: 0
          maximum: 100
        queue_position:
          type: integer
          description: Current position in processing queue (if pending)
        estimated_wait_minutes:
          type: number
          description: Estimated wait time in minutes (if pending)
        error:
          $ref: '#/components/schemas/ErrorDetail'

    # ========== Audio Source Schemas ==========
    AudioUpload:
      type: object
      required:
        - type
        - data
      properties:
        type:
          type: string
          enum: [multipart_form]
          description: Direct file upload via multipart/form-data
        data:
          type: string
          format: binary
          description: Audio file binary data (max 1GB, torch audio supported formats)

    AudioBlobReference:
      type: object
      required:
        - type
        - blob_uri
      properties:
        type:
          type: string
          enum: [azure_blob]
          description: Reference to Azure Blob Storage file
        blob_uri:
          type: string
          format: uri
          description: Full Azure Blob URI (e.g., https://account.blob.core.windows.net/container/file.wav). No SAS token required.
          example: "https://speechapi.blob.core.windows.net/audio-uploads/file.wav"

    # ========== Error Schemas ==========
    ErrorDetail:
      type: object
      properties:
        code:
          type: string
          example: INVALID_AUDIO_FORMAT
        message:
          type: string
        details:
          type: object
          additionalProperties:
            type: string

    ErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetail'
        request_id:
          type: string
          format: uuid
          description: Unique request identifier for debugging
        timestamp:
          type: string
          format: date-time

    JobsList:
      type: object
      properties:
        jobs:
          type: array
          items:
            $ref: '#/components/schemas/JobStatusResponse'
        total:
          type: integer
        page:
          type: integer
        page_size:
          type: integer
        has_more:
          type: boolean

# ========== ENDPOINTS ==========
paths:
  /stt/process:
    post:
      operationId: processAudioComposite
      tags:
        - Speech-to-Text (STT)
      summary: Unified Pipeline (Detect + Transcribe + Translate)
      description: |
        "Fire and forget" composite job. Performs language detection, transcription, 
        and optional translation in a single async workflow.
        Ideal for automated pipelines where the source language is unknown.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TranscriptionRequest'
      responses:
        "202":
          description: Job accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TranscriptionResponse'
        "400":
          description: Invalid request
        "401":
          description: Unauthorized

  /speech-to-text/transcribe:
    post:
      operationId: transcribeAudio
      tags:
        - Speech-to-Text (STT)
      summary: Transcribe audio to text
      description: |
        Submit audio for transcription via direct upload or Azure Blob reference.
        Supports both batch and near-real-time processing modes.
        Returns immediately with job_id for async polling.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - audio_file
                - language
              properties:
                audio_file:
                  type: string
                  format: binary
                  description: Audio file (max 1GB, torch audio formats)
                language:
                  type: string
                  pattern: '^[a-z]{2}(-[A-Z]{2})?$'
                  example: en-US
                model:
                  type: string
                  enum: [whisper-large-v3, azure-speech-standard]
                  default: whisper-large-v3
                output_format:
                  type: string
                  enum: [json, vtt, srt, plain_text]
                  default: json
                include_timestamps:
                  type: boolean
                  default: false
                diarization_enabled:
                  type: boolean
                  default: false
                diarization_max_speakers:
                  type: integer
                  default: 2
                profanity_filter:
                  type: boolean
                  default: false
                callback_url:
                  type: string
                  format: uri
                  description: Optional webhook URL for completion notification
          application/json:
            schema:
              $ref: '#/components/schemas/TranscriptionRequest'
      responses:
        "202":
          description: Job accepted for processing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TranscriptionResponse'
        "400":
          description: Invalid request (missing fields, unsupported format)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized (invalid or missing token)
        "413":
          description: File too large (max 1GB)
        "429":
          description: Rate limit exceeded
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /speech-to-text/transcribe-blob:
    post:
      operationId: transcribeFromBlob
      tags:
        - Speech-to-Text (STT)
      summary: Transcribe audio from Azure Blob Storage
      description: Submit audio from Azure Blob Storage URL for transcription.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TranscriptionRequest'
      responses:
        "202":
          description: Job accepted for processing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TranscriptionResponse'
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
        "429":
          description: Rate limit exceeded

  /speech-to-text/detect-language:
    post:
      operationId: detectLanguage
      tags:
        - Speech-to-Text (STT)
      summary: Detect language in audio
      description: |
        Identify the language(s) present in audio file.
        Useful for pre-processing before transcription.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - audio_file
              properties:
                audio_file:
                  type: string
                  format: binary
                max_languages:
                  type: integer
                  default: 1
                  minimum: 1
                  maximum: 5
                confidence_threshold:
                  type: number
                  default: 0.5
          application/json:
            schema:
              $ref: '#/components/schemas/LanguageDetectionRequest'
      responses:
        "202":
          description: Detection job submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LanguageDetectionResponse'
        "400":
          description: Invalid request
        "401":
          description: Unauthorized
        "429":
          description: Rate limit exceeded

  /speech-to-text/translate:
    post:
      operationId: translateTranscription
      tags:
        - Speech-to-Text (STT)
      summary: Translate transcription to other languages
      description: |
        Translate a completed transcription to one or multiple target languages.
        Requires a completed transcription job_id.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TranslationRequest'
      responses:
        "202":
          description: Translation job submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TranslationResponse'
        "400":
          description: Invalid request or job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
        "404":
          description: Transcription job not found
        "429":
          description: Rate limit exceeded

  /tts/stream:
    post:
      operationId: streamSpeech
      tags:
        - Text-to-Speech (TTS)
      summary: Real-Time Speech Synthesis (Stream)
      description: |
        Synchronous endpoint for low-latency speech synthesis.
        Returns audio bytes directly. Best for chatbots and voice agents.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TextToSpeechRequest'
      responses:
        "200":
          description: Audio stream
          content:
            audio/mpeg:
              schema:
                type: string
                format: binary
            audio/wav:
              schema:
                type: string
                format: binary
        "400":
          description: Invalid request

  /text-to-speech/synthesize:
    post:
      operationId: synthesizeText
      tags:
        - Text-to-Speech (TTS)
      summary: Synthesize text to speech
      description: |
        Convert text to high-quality speech audio using neural voices.
        Supports SSML for advanced formatting.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TextToSpeechRequest'
      responses:
        "202":
          description: Synthesis job submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TextToSpeechResponse'
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
        "429":
          description: Rate limit exceeded

  /jobs/{job_id}:
    get:
      operationId: getJobStatus
      tags:
        - Job Management
      summary: Get job status and details
      description: |
        Poll for job completion status. Use exponential backoff:
        - Initial: 1 second
        - Max: 30 seconds
        - Backoff multiplier: 1.5
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Job details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatusResponse'
        "401":
          description: Unauthorized
        "404":
          description: Job not found
        "410":
          description: Job expired (results deleted after 7 days)

  /jobs:
    get:
      operationId: listJobs
      tags:
        - Job Management
      summary: List user's jobs
      description: List all jobs with filtering and pagination
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, processing, completed, failed]
        - name: job_type
          in: query
          schema:
            type: string
            enum: [transcription, language_detection, translation, text_to_speech]
        - name: created_after
          in: query
          schema:
            type: string
            format: date-time
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: page_size
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
      responses:
        "200":
          description: List of jobs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobsList'
        "401":
          description: Unauthorized

  /health:
    get:
      operationId: healthCheck
      tags:
        - Job Management
      summary: Health check endpoint
      security: []
      description: Service health and availability status
      responses:
        "200":
          description: Service healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [healthy, degraded, unavailable]
                  components:
                    type: object
                    properties:
                      whisper_service:
                        type: string
                      azure_service:
                        type: string
                      blob_storage:
                        type: string
                      database:
                        type: string

  /available-voices:
    get:
      operationId: getAvailableVoices
      tags:
        - Text-to-Speech (TTS)
      summary: List available TTS voices
      description: Get list of supported neural voices per language
      parameters:
        - name: language
          in: query
          schema:
            type: string
            pattern: '^[a-z]{2}(-[A-Z]{2})?$'
      responses:
        "200":
          description: List of available voices
          content:
            application/json:
              schema:
                type: object
                properties:
                  voices:
                    type: array
                    items:
                      type: object
                      properties:
                        voice_id:
                          type: string
                        language:
                          type: string
                        gender:
                          type: string
                          enum: [male, female, neutral]
                        style:
                          type: string
                          description: Speaking style (friendly, professional, etc.)

webhooks:
  jobCompletion:
    post:
      summary: Job completion notification
      description: Webhook callback when async job completes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                job_id:
                  type: string
                  format: uuid
                job_type:
                  type: string
                  enum: [transcription, language_detection, translation, text_to_speech]
                status:
                  type: string
                  enum: [completed, failed]
                timestamp:
                  type: string
                  format: date-time
                result_url:
                  type: string
                  format: uri
                error:
                  $ref: '#/components/schemas/ErrorDetail'
      responses:
        "200":
          description: Webhook received successfully
